# Created by venv; see https://docs.python.org/3/library/venv.html
.venv
secret
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
*.egg
*.dist-info
*.whl
*.zip
*.tar.gz
*.tgz
*.tar
*.gz
*.bz2
*.xz
*.rar
*.7z
*.exe
*.dll
*.so
*.dylib
*.lib
*.a
*.o
*.obj
*.pdb
*.pyc
*.pyo
*.pyd
*.egg-info
*.egg
*.dist-info
*.whl
*.zip
*.tar.gz
*.tgz
*.tar
*.gz
*.bz2
*.xz
*.rar
*.7z
*.exe
*.dll
*.so
*.dylib
*.lib
*.a
*.o
*.obj
*.pdb


